<%- include('layout_head') -%>
<% const tags = typeof allTags != undefined ? allTags : undefined; %>
<% const categories = typeof allCategories != undefined ? allCategories : undefined; %>
<% const activityName = typeof activity != 'undefined' ? activity?.name : undefined; %>
<% const activityDes = typeof activity != 'undefined' ? activity?.description : undefined; %>
<h1><%= title %><%= typeof activity != 'undefined' ? ": " + activity?.name : "" %></h1>
<hr>
<form method="POST">
  <div class="mb-3">
    <label class="form-label" for="name">Activity Name:</label>
    <input id="name" class="form-control" type="text" name="name" required placeholder="Create a new Activity" value="<%= activityName %>"/>
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">Activity Description:</label>
    <textarea id="description" class="form-control" type="text" name="description" required placeholder="Some activities need a lot of explaining, some don't need any! Around 2 to 4 sentences should be fine. But a description is required..."></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label" for="category">Categories: </label>
    <select id="category" class="form-control" name="category" required>
      <option value="">--Please Select A Category--</option>
      <% for (const category of categories) { %>
        <% if (typeof activity != 'undefined') { %>
          <% if (category._id.toString() === activity.category._id.toString()) { %>
            <option value="<%= category._id %>" selected><%= category.name %></option>
          <% } else { %>
            <option value="<%= category._id %>"><%= category.name %></option>
          <% } %>
        <% } else { %>
          <option value="<%= category._id %>"><%= category.name %></option>
        <% } %>
      <% } %>
    </select>
  </div>
  <div class="mb-3">
    <p class="form-label">Tags:</p>
    <% for (const tag of tags) { %>
      <div class="d-inline" style='padding-right: 10px; padding-bottom: 8px;'>
        <% if (tag.checked) { %>
          <input class="checkbox-input" type="checkbox" name="tag" id="<%= tag._id %>" value="<%= tag._id %>" checked/>
        <% } else { %>
          <input class="checkbox-input" type="checkbox" name="tag" id="<%= tag._id %>" value="<%= tag._id %>" />
        <% } %>
          <label for="<%= tag._id %>">&nbsp;<%= tag.name %></label>
      </div>
    <% } %>
  </div>
  <br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
<br />
<% if (typeof errors != 'undefined') { %>
  <ul>
  <% errors.forEach(function(error) { %>
    <li><span class="text-warning"><%= error?.msg %></span></li>
  <% }); %>
  </ul>
<% } %>
<script>
  const textBox = document.getElementById("description");
  <% if (typeof activityDes != 'undefined') { %>
    textBox.textContent = "<%- activityDes %>"
  <% } %>
</script>
<%- include('layout_foot') -%>
