<%- include('layout_head'); -%>
<h1>Category Detail: <%= category.name %></h1>
<hr>
<h4>Activities with: <%= category.name %></h4>
<hr>
<ul>
<li><a href="<%= category.url %>/update">Update</li>
<li><a href="<%= category.url %>/delete">Delete</li>
</ul>
<%- include('layout_foot'); -%>
