<%- include('layout_head') -%>
<h1><%= title %>: <%= categories.length%> <%= categories.length > 1 ? "items" : "item" %></h1>
<hr>
<ul>
<% categories.forEach( e => { %>
  <li><a href="<%= e.url %>"><%= e.name %></a></li>
<% }); %>
</ul>
<% if (typeof errors != 'undefined') { %>
  <ul>
  <% errors.forEach(function(error) { %>
    <li><%= error?.msg %></li>
  <% }); %>
  </ul>
<% } %>
<%- include('layout_foot') -%>
