<%- include('layout_head'); -%>
<h1>Category Detail: <%= category.name %></h1>
<hr>
<h4>Activities in: <%= category.name %></h4>
<ul>
  <% for (e of activities) { %>
    <li><a href="<%= e.url %>"><%= e.name %></a></li>
  <% } %>
</ul>
<hr>
<p><a href="<%= category.url %>/update">Update</a></p>
<p><a class="link-danger link-underline-opacity-25 link-underline-opacity-100-hover" href="<%= category.url %>/delete">Delete</a></p>
<%- include('layout_foot'); -%>
