<%- include('layout_head') -%>
<% const categoryName = typeof category === 'undefined' ? '' : ": " + category?.name %>
<h1><%= title %></h1>
<form method="POST">
  <div class="form-group">
    <label class="form-label" for="name">Category: <%= categoryName %></label>
    <input id="name" class="form-control" type="text" placeholder="Programming, IDE, Research..." name="name" required value="<%= categoryName %>" />
  </div>
  <br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
<br />
<% if (typeof errors != 'undefined') { %>
  <ul>
  <% errors.forEach(function(error) { %>
    <li><span class="text-warning"><%= error?.msg %></span></li>
  <% }); %>
  </ul>
<% } %>
<%- include('layout_foot') -%>
