<%- include('layout_head'); -%>
<h1>Tag Detail: <%= tag.name %></h1>
<hr>
<h4>Activities in: <%= tag.name %></h4>
<ul>
  <% for (e of activities) { %>
    <li><a href="<%= e.url %>"><%= e.name %></a></li>
  <% } %>
</ul>
<hr>
<p><a href="<%= tag.url %>/update">Update</p>
<p><a href="<%= tag.url %>/delete">Delete</p>
<%- include('layout_foot'); -%>
